body {
  background-image: url("../img/books2.jpg");
  background-color: #022836;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
h1,
p {
  color: white;
  text-align: center;
}
.row {
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.imgRow {
  text-align: center;
  min-height: 50px;
  justify-content: space-between;
}
#book1,
#book2,
#book3,
#book4,
#book5,
#book6,
#book7,
#book8,
#book9,
#book10 {
  background-color: black;
}
