body {
  background-image: url("../img/books2.jpg");
  background-color: #022836;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.row {
  padding: 5px 0 5px 0;
}
.imgRow {
  text-align: center;
  min-height: 225px;
  padding-top: 10px;
}
#book1,
#book2,
#book3,
#book4,
#book5,
#book6,
#book7,
#book8,
#book9,
#book10 {
  background-color: lightgrey;
  padding: 5rem;
}
